$base-color: #66ab1b;
$second-color: #fff;

.animated-checkbox {
  width: 100%;
  height: 100%;
  text-align: center; // to center the item
  display: table-cell; // to center the item
  vertical-align: middle; // to center the item
}

.flex-center-vertically {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content-text-style {
  font-size: 13px;
  margin-top: 5px;
  font-weight: 600;
  color: $base-color;
}

label {
  cursor: pointer;
  color: $base-color;
  position: relative; // important
  display: inline-block; // to make it easier to click

  // Now we'll create the checkbox object
  span {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    box-sizing: initial;
    vertical-align: -6px;
    display: inline-block;
    transform-origin: center;
    background-color: transparent;
    border: 2px solid $base-color;
    transition: background-color 150ms 200ms,
      transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89); // custom ease effect for bouncy animation

    // Now we'll create the "tick" using pseudo elements - those will be basically two lines that will be rotated to form the "tick"
    &:before {
      content: "";
      width: 0px;
      height: 2px;
      border-radius: 2px; // so that the tick has nice rounded look
      background: $base-color;
      position: absolute;
      transform: rotate(45deg);
      top: 13px; // you'll need to experiment with placement depending on the dimensions you've chosen
      left: 9px; // you'll need to experiment with placement depending on the dimensions you've chosen
      transition: width 50ms ease 50ms;
      transform-origin: 0% 0%;
    }

    &:after {
      content: "";
      width: 0;
      height: 2px;
      border-radius: 2px; // so that the tick has nice rounded look
      position: absolute;
      transform-origin: 0% 0%;
      background: $base-color;
      transform: rotate(305deg);
      transition: width 50ms ease;
      left: 10px; // you'll need to experiment with placement depending on the dimensions you've chosen
      top: 16px; // you'll need to experiment with placement depending on the dimensions you've chosen
    }
  }
  // Time to add some life to it

  &:hover {
    span {
      &:before {
        width: 5px;
        transition: width 100ms ease;
      }

      &:after {
        width: 10px;
        transition: width 150ms ease 100ms;
      }
    }
  }
}

input[type="checkbox"] {
  display: none; // hide the system checkbox

  // Let's add some effects after the checkbox is checked
  &:checked {
    + label {
      span {
        background-color: $base-color;
        transform: scale(1.25); // enlarge the box

        &:after {
          width: 10px;
          background: $second-color;
          transition: width 150ms ease 100ms; // enlarge the tick
        }

        &:before {
          width: 5px;
          background: $second-color;
          transition: width 150ms ease 100ms; // enlarge the tick
        }
      }

      &:hover {
        // copy the states for onMouseOver to avoid flickering
        span {
          background-color: $base-color;
          transform: scale(1.25); // enlarge the box

          &:after {
            width: 10px;
            background: $second-color;
            transition: width 150ms ease 100ms; // enlarge the tick
          }

          &:before {
            width: 5px;
            background: $second-color;
            transition: width 150ms ease 100ms; // enlarge the tick
          }
        }
      }
    }
  }
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.column1 {
  grid-column: 1;
  grid-row: 3;
}
.column2 {
  grid-column: 2;
  grid-row: 3;
}
.column3 {
  grid-column: 3;
  grid-row: 3;
}
